:root {
    --navy: #031A42;
    --white: #fff;
    --brown: #BB955C;
    --gold: #BB955C;
    --softgray: #F3F5F7;
    --softgray2: #CCD8E1;
    --gray: #727379;
    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
}

a {
    text-decoration: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-30 {
    margin-bottom: 30px;
    text-align: justify;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-50 {
    margin-bottom: 70px;
}


.jumbo-header {
    font-weight: var(--fwextrabold);
    color: var(--gold);
    font-size: 35px;



}

.big-header {
    font-weight: var(--fwbold);
    color: var(--gold);
    font-size: 28px;
}

.small-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 18px;
}

.paragraph {
    line-height: 36px;
    color: var(--gray);
    font-size: 18px;
}

.paragraph2 {
    color: var(--navy);
    font-weight: var(--fwregular);
    font-size: 16px;
}

input.form-control {
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    border: 1px solid var(--softgray2);

}

.medium-header {
    color: var(--navy);
    font-size: 16px;
    font-weight: var(--fwbold);
}

.small-paragraph {
    color: var(--gray);
    font-size: 10px;
    font-weight: var(--fwsemibold);
}

.extra-small-paragraph {
    color: var(--gray);
    font-size: 10px;
    font-weight: var(--fwregular);
}


.btn-secondary {
    padding: 7px 24px 7px 24px;
    border-radius: 15px;
    border: 0;
    background: var(--gold);
    color: var(--white);
    font-weight: var(--fwsemibold);
    font-size: 13px;
}

.btn-secondary:hover {
    color: var(--white);
    background: #e1c69c;
}

.btn-primary {
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    border: 0;
    background: var(--blue);
    color: var(--white);
    font-weight: var(--fwregular);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 90%;
    margin-left: 60px;
    z-index: 1000;

}

.navbar-nav .nav-item {
    padding: 0 20px 0 20px;

}

.navbar-nav .nav-link {
    color: var(#323232);
}

.navbar-nav .nav-link:hover {
    color: var(--brown);
}

.navbar-nav .nav-item .active {
    color: var(--gold);
    font-weight: var(--fwbold);
}

.brand-text {
    font-weight: var(--fwbold);
    font-size: 15px;
}

.header .stats .item:nth-child(2) {
    border-right: 1px solid var(--softgray);
    border-left: 1px solid var(--softgray);
}

.header .img-fluid {
    max-width: 80%;
    height: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); /* Menambahkan bayangan */
    border-radius: 20px;
}

.header {
    margin-bottom: 30px;
    margin-top: 90px;

  }






/* kegiatan */
.kegiatan {
    padding: 50px 0 50px 0;
    background: var(--softgray);

}

.kegiatan-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.carousel-caption h5 {
    font-size: 1.5rem;
}

.carousel-caption p {
    font-size: 1rem;
}


.kegiatan .item .info {
    background: var(--white);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 25px;
}








/* umkm */
.umkm {
    padding: 40px 0 5px 0;
    background: var(--white);

}

.umkm-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
}

#news-slider {
    margin-top: 80px;
}

.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border-radius: 50%;
    padding: 5px 10px;
    color: #333;
}

.owl-carousel .owl-nav .owl-prev {
    left: -25px;
}

.owl-carousel .owl-nav .owl-next {
    right: -25px;
}
.umkm-image {
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* This property ensures the image covers the set area without distorting its aspect ratio */
}




@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}





.two-column-list {

    background: var(--softgray);
}
.two-column-list .announcements, .two-column-section .events {

    border-right: 1px solid #ddd;

}

.m-0 {
    font-size: 15px;
}

.two-column-list h3 {
    font-size: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #031A42;
}

.two-column-list ul.list-unstyled {
    padding: 0;
}

.two-column-list ul.list-unstyled li {
    margin-bottom: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.two-column-list .title {
    font-weight: bold;
    margin-top: 5px;
}

.two-column-list p {
    margin: 0;
}

.btn-link {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.events-date
{
    background-color: #1376c5;
    padding: 5px;
}

.round {
    display: inline-block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.4s ease;
    margin-bottom: 10px;
    margin-top: 5px;
}

.round:hover {
    background-color: #707070;
}







.aboutus {
    padding: 70px 0 70px 0;
    background: var(--white);


}

.lead {
    font-size: 15px;
    text-align: justify;

}


.footer{
    background: var(--softgray);
    padding-top: 10px;
}





/* carousel */
